section {
    display: grid;
    place-items: top;
    height: 100vh;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Lato';
}

.section-header {
    margin-top: -5%;
}

.posts-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.post-card {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 60%;
    min-width: 200px;
    margin: 1%;
    border-radius: 20px;
    color: black;
    font-weight: none;
    font-size: 25px;
}

.post-date {
    color: grey;
    font-size: 20px;
}

.post-card:hover {
    background-color: rgb(241, 241, 241);
}