.hero-body {
  background-color: transparent !important;
  margin-top: 3%;
}

.terminal {
  border-radius: 10px;
  overflow: hidden;
  width: 85%;
  align-items: right;
  font-family: "Monaco", Consolas, Lucida Console, monospace;
}

.terminal-bar {
  background-color: #eae8e9;
  display: flex;
  position: relative;
}

.shadow {
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.15),
    0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.12);
}

.dark-mode {
  background: #0d0f17;
  height: 42px;
  align-items: center;
}

.column-child {
  flex: 1;
}

.terminal-bar-text {
  position: absolute;
  color: var(--terminal-font-color);
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: white;
  font-size: 40%;
}

.terminal-window {
  min-height: 250px;
  max-height: 60vh;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.primary-bg {
  background-color: #0d0f17;
}

.terminal-output {
  overflow-y: hidden;
  overflow: auto;
}

.terminal-line {
  position: relative;
  color: white;
  font-size: 50%;
  text-align: left;
}

.code,
.error,
.social,
.fa-heart {
  color: #4069f9;
}

.directory {
  color: #75e1e7;
  font-weight: 500;
}

.success {
  color: #8dd39e;
}

.dummy-keyboard {
  opacity: 0;
  filter: alpha(opacity=0);
}

.user-input {
  position: relative;
}

.user-input::after {
  display: block;
  content: "";
  width: 10px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  right: -10px;
  animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.terminal-bar > div.icon-btn:first-child {
  margin-left: 16px;
}

.terminal-bar > div.icon-btn:not(:first-child) {
  margin-left: 8px;
}

.terminal-bar > div.icon-btn:last-child {
  margin-right: 0.6rem;
}

.icon-btn {
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.close {
  background-color: #f96256;
  border: 1px solid #f65549;
}

.max {
  background-color: #33c948;
  border: 1px solid #2dbb41;
}

.min {
  background-color: #fdbc3d;
  border: 1px solid #ffb524;
}