.contact-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-bottom: 15%;
}

.contact-email {
    text-align: left;
    font-size: 25px;
    font-weight: normal;
}

.social-media-links {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 3%;
}

.linkedin-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.github-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.social-media-links a {
    margin: 0px 15px;
}

.contact-thankyou-msg {
    margin-top: 10%;
    font-size: 25px;
    font-weight: normal;
}