.App {
  font-family: sans-serif;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

section {
  display: grid;
  place-items: top;
  margin-top: 10%;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}

.home-content {
  flex-direction: row;
  display: flex;
}

.section-header {
  margin-top: 10%;
}

.nav-bar {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: calc(100% - 1.5rem);
  background-color: #ffffff;
  padding: 0 55rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}

.nav-container-actions {
  display: inline-flex;
  flex-flow: row nowrap;
  margin-left: 4%;
  flex: 1;
}

.active {
  font-weight: bold;
}

#about {
  margin-top: -80px;
}

textarea {
  border: none;
  outline: none;
  margin: 0;
  padding-left: 10px;
  padding-top: 40px;
  background-color: #1C2E4A;
  color: white;
  height: 450px;
  width: 470px;
  border-radius: 10px;
  resize: none;
  background: linear-gradient(0, #ffffff 1px, );
}

ul {
  display: flex;
  gap: 4rem;
  font-size: 1.2rem;
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}