textarea {
  border: none;
  outline: none;
  margin: 0;
  padding-left: 10px;
  padding-top: 40px;
  background-color: #1C2E4A;
  color: white;
  height: 450px;
  width: 470px;
  border-radius: 10px;
  resize: none;
  background: linear-gradient(0, #ffffff 1px, );
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.experience-cards {
  flex-direction: row;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  display: flex;
}

.experience-cards::-webkit-scrollbar{
  display: none;
}

.card-style {
  height: 500px;
  min-width: 400px;
  margin: 1%;
  border-radius: 5%;
  color: white;
  font-weight: none;
  background-color: #9cb3d8;
}

.card-content {
  padding: 5%;
  
}